@model Appartement

<div class="row">
    <div class="col-4">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="Numero" class="form-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Surface" class="form-label"></label>
                <input asp-for="Surface" class="form-control" />
                <span asp-validation-for="Surface" class="text-danger"></span>
            </div>

            <div class="form-check">
                <input asp-for="Meuble" class="form-check-input" />
                <label asp-for="Meuble" class="form-check-label"></label>
                <span asp-validation-for="Meuble" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="TypeAppartement" class="form-label"></label>
                <select asp-for="TypeAppartement" class="form-select">

                    @foreach (var type in Enum.GetValues<TypeAppartement>())
                    {
                            <option value="@type">@Enum.GetName(type)</option>                            
                    }

                </select>
                <span asp-validation-for="TypeAppartement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Annuler</a>
            </div>
        </form>
    </div>
</div>